.nav {
  display: none;
}

.mobile-nav {
  color: grey;
}

.mobile-nav-active {
  color: #fc6549;
}

@media screen and (max-width: 768px) {
  .nav {
    display: block;
    width: "100%";
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
